.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 90vh;
  }

  /* Nicer styles added */
  /* li:hover { this is a descriptive comment
    cursor: pointer;
  } */
  
  ul{ list-style-type: none; }

  /* All issues fixed */

  /* For real */

  /* one more */

  /* last */